name: Update Notion Data

on:
  schedule:
    - cron: '*/1 * * * *'  # 每分钟执行一次
  workflow_dispatch:  # 允许手动触发

jobs:
  fetch_notion_data:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Fetch Notion data
        run: |
          curl -H "Authorization: Bearer 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" \
               -H "Notion-Version: 2022-06-28" \
               "https://api.notion.com/v1/databases/ff987bb334804e98a7fb78a53d5c8d29" \
               -o zhishiku.json

      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add zhishiku.json
          git commit -m "Update zhishiku.json with latest Notion data" || echo "No changes to commit"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # 使用 GitHub 提供的 token
